@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/*-----------ICONES----------------------*/
@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot?71709527");
  src: url("../font/fontello.eot?71709527#iefix") format("embedded-opentype"), url("../font/fontello.woff2?71709527") format("woff2"), url("../font/fontello.woff?71709527") format("woff"), url("../font/fontello.ttf?71709527") format("truetype"), url("../font/fontello.svg?71709527#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  /*speak: never;*/
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-cart-add:before {
  content: '\e800';
}

/* '' */
.icon-cart-remove:before {
  content: '\e801';
}

/* '' */
.icon-cart:before {
  content: '\e802';
}

/* '' */
.icon-plus:before {
  content: '\e803';
}

/* '' */
.icon-minus:before {
  content: '\e804';
}

/* '' */
/*-------------Media Queries--------------*/
/*-------------Cores da Loja-------------*/
/*-------Função que retorna uma cor--------*/
/*-------Debug--------*/
.added-to-cart {
  outline: 2px solid #0059ff;
}

/*-----------LARGURAS------------*/
/*-------------------------------------------*/
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: #333333;
}

@media (min-width: 2220px) {
  body {
    font-size: 1.2em;
  }
}

::-moz-selection {
  background-color: #333333;
  color: #ffffff;
}

::selection {
  background-color: #333333;
  color: #ffffff;
}

/*------------ESTILOS DE TEXTO-------------*/
.text-secondary {
  color: #5c5c5c;
}

.text-warning {
  color: #ff1e00;
}

/*-------------HEADER-------------------*/
#header {
  display: block;
  height: 100px;
  width: 100%;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  z-index: 5;
}

@media (orientation: portrait) and (max-width: 600px) {
  #header {
    height: 64px;
  }
}

#header .navbar {
  height: 100%;
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 2220px) {
  #header .navbar {
    width: 50%;
  }
}

@media (min-width: 1440px) and (max-width: 1850px) {
  #header .navbar {
    width: 70%;
  }
}

@media (min-width: 1850px) and (max-width: 2220px) {
  #header .navbar {
    width: 60%;
  }
}

#header .navbar a {
  text-decoration: none;
}

#header .navbar-logo {
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 36px;
}

#header .navbar-logo-img {
  height: 100%;
}

#header .navbar-cart {
  height: 44px;
  position: relative;
}

#header .navbar-cart img {
  height: 100%;
}

#header .navbar-cart-counter {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-weight: 600;
  text-align: center;
  z-index: -1;
}

/*-------------ROWS e COLUMNS*/
.container {
  width: 80%;
  margin: auto;
}

@media (orientation: portrait) and (max-width: 600px) {
  .container {
    width: 100%;
  }
}

@media (max-width: 1140px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 2220px) {
  .container {
    width: 50%;
  }
}

@media (min-width: 1440px) and (max-width: 1850px) {
  .container {
    width: 70%;
  }
}

@media (min-width: 1850px) and (max-width: 2220px) {
  .container {
    width: 60%;
  }
}

.items-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 100px;
}

@media (orientation: portrait) and (max-width: 600px) {
  .items-wrapper {
    padding-top: 64px;
  }
}

.item {
  margin: 1rem;
}

@media (orientation: portrait) and (max-width: 600px) {
  .item {
    margin: 1rem 0;
  }
}

form {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
}

.card {
  display: block;
  width: 260px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #d1d1d1;
}

@media (orientation: portrait) and (max-width: 600px) {
  .card {
    width: 100vw;
  }
}

@media (min-width: 2220px) {
  .card {
    width: 330px;
  }
}

@media (min-width: 1440px) and (max-width: 1850px) {
  .card {
    width: 300px;
  }
}

@media (min-width: 1850px) and (max-width: 2220px) {
  .card {
    width: 320px;
  }
}

.card-image-top {
  width: 100%;
  height: 320px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card h4 {
  margin: 1rem;
}

.card-title {
  margin: 0 1rem;
}

.card-text {
  margin: 1rem;
  max-height: 2.3rem;
  width: calc(100% - 2rem);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card .price::before {
  content: 'R$';
  -webkit-margin-end: 0.1rem;
          margin-inline-end: 0.1rem;
}

.card .button {
  width: 100%;
}

@media (orientation: portrait) and (max-width: 600px) {
  .card .button {
    font-size: 1.6rem;
    padding: 1rem;
  }
}

.card .button i {
  color: #ffffff;
}

.card .button-primary {
  outline: 1px solid #0059ff;
  font-weight: 300;
}

.card .button-primary:hover {
  outline: 4px solid #0059ff;
}

.card .button-primary:active {
  outline: 2px solid #0099ff;
}

.cart-title {
  padding-top: 100px;
  margin-bottom: -50px;
  margin-left: 1rem;
}

@media (orientation: portrait) and (max-width: 600px) {
  .cart-title {
    padding-top: 64px;
  }
}

.cart-product {
  margin-left: 0rem;
}

/*-----------MARGEM E ALINHAMENTO--------*/
.margin-1r {
  margin: 1rem;
}

.left {
  margin-left: 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*----------------------------------------*/
.cart-item {
  border: 2px solid #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 600px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (orientation: portrait) and (max-width: 600px) {
  .cart-item {
    min-width: 0;
    margin: 0 -1rem;
    border-left: none;
    border-right: none;
  }
}

.cart-item-img {
  width: 200px;
  height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (orientation: portrait) and (max-width: 600px) {
  .cart-item-img {
    height: 263px;
  }
}

.cart-item .flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.cart-item .price::before {
  content: 'R$';
  -webkit-margin-end: 0.1rem;
          margin-inline-end: 0.1rem;
}

.cart-item-body {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 1rem 0;
}

.cart-item-body-title {
  width: 80%;
  margin-left: 1rem;
}

.cart-item-body-quantity {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: auto 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.cart-item-body-quantity i {
  position: relative;
  left: -.9rem;
  top: .1rem;
}

.cart-item-body-quantity-minus {
  display: block;
  width: 40px;
  border: 1px solid;
  position: relative;
}

.cart-item-body-quantity-minus i {
  position: relative;
  left: -.9rem;
}

.cart-item-body-quantity-plus {
  display: block;
  width: 40px;
  border: 1px solid;
  position: relative;
}

.cart-item-body-quantity input[type="text"] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
  display: block;
  width: 38px;
  text-align: center;
  padding: 0;
  margin: 0.2rem 0;
  border: 1px solid;
  font-size: 1.2rem;
}

.cart-item-buttons {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 0rem 1rem 1rem 1rem;
}

@media (orientation: portrait) and (max-width: 600px) {
  .cart-item-buttons .button {
    width: 100%;
    margin: .2rem 0;
  }
}

div#details {
  /*position: absolute;
    top: 220px;
    right: 20%;*/
  padding: 0 1rem;
  border: 1px solid #333333;
}

div#details h5 {
  margin-top: 0;
}

div#details .price::before {
  content: 'R$';
  -webkit-margin-end: 0.1rem;
          margin-inline-end: 0.1rem;
}

.button {
  padding: 0.2rem 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid;
  background: none;
  font-weight: 500;
  font-size: 1.4rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: 0.05s ease-out;
  transition: 0.05s ease-out;
}

.button-primary {
  color: #ffffff;
  background-color: #0059ff;
  border: 2px solid #0059ff;
}

.button-primary:hover {
  cursor: pointer;
  color: #ffffff;
  background-color: #0059ff;
}

.button-primary:active {
  background-color: #0099ff;
  border: 2px solid #0099ff;
}

.button:hover {
  outline: 2px solid;
}
/*# sourceMappingURL=style.css.map */