@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/*-----------ICONES----------------------*/
@font-face {
    font-family: 'fontello';
    src: url('../font/fontello.eot?71709527');
    src: url('../font/fontello.eot?71709527#iefix') format('embedded-opentype'),
         url('../font/fontello.woff2?71709527') format('woff2'),
         url('../font/fontello.woff?71709527') format('woff'),
         url('../font/fontello.ttf?71709527') format('truetype'),
         url('../font/fontello.svg?71709527#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
  } 
   [class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    /*speak: never;*/
   
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
   
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
   
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
   
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
   
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
   
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
   
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  }
.icon-cart-add:before { content: '\e800'; } /* '' */
.icon-cart-remove:before { content: '\e801'; } /* '' */
.icon-cart:before { content: '\e802'; } /* '' */
.icon-plus:before { content: '\e803'; } /* '' */
.icon-minus:before { content: '\e804';} /* '' */

/*-------------Media Queries--------------*/
@mixin portrait {
    @media (orientation: portrait) and (max-width: 600px){
        @content;
    }
}
@mixin edge-to-edge {
    @media (max-width: 1140px){
        @content;
    }
}
@mixin hi-res{
    @media (min-width: 2220px){
        @content;
    }
}
@mixin fullhd{
    @media (min-width: 1440px) and (max-width: 1850px){
        @content;
    }
}
@mixin quadhd{
    @media (min-width: 1850px) and (max-width: 2220px){
        @content;
    }
}
/*-------------Cores da Loja-------------*/
$colors: (
    light: #ffffff,
    primary-text: #333333,
    secondary-text: #5c5c5c,
    warning-text: #ff1e00,
    primary-button: rgb(0, 89, 255),
    primary-button-action: rgb(0, 153, 255),
    primary-button-txt: #ffffff,
    tile-border: rgb(209, 209, 209)
);
/*-------Função que retorna uma cor--------*/
@function color($colorname){
    @return map-get($map: $colors, $key: $colorname)
};
/*-------Debug--------*/
.added-to-cart{
    outline: 2px solid color(primary-button);
}
/*-----------LARGURAS------------*/
$container-width: 80%;
$card-width: 260px;
/*-------------------------------------------*/

body{
    margin: 0; padding: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: color(primary-text);

    @include hi-res{
        font-size: 1.2em;
    }
}
::selection{
    background-color: color(primary-text);
    color: color(light);
}
/*------------ESTILOS DE TEXTO-------------*/
.text-secondary{
    color: color(secondary-text);
}
.text-warning{
    color: color(warning-text);
}
/*-------------HEADER-------------------*/
#header{
    display: block;
    height: 100px;
    width: 100%;
    background-color: color(light);
    position: fixed;
    top: 0;
    z-index: 5;
    @include portrait{
        height: 64px;
    }
    .navbar{
        height: 100%;
        width: $container-width;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include hi-res{
            width: 50%;
        }
        @include fullhd{
            width: 70%;
        }
        @include quadhd{
            width: 60%;
        }
        a{
            text-decoration: none;
        }
        &-logo{
            align-self: flex-start;
            display: block;
            width: fit-content;
            height: 36px;
            &-img{
                height: 100%;
            }
        }

        &-cart{
            height: 44px;
            position: relative;

            img{
                height: 100%;
            }

            &-counter{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateY(-50%);
                font-weight: 600;
                text-align: center;
                z-index: -1;
            }
        }

    }
}
/*-------------ROWS e COLUMNS*/
.container{
    width: $container-width;
    margin: auto;
    @include portrait {
        width: 100%;
    }
    @include edge-to-edge{
        width: 100%;
    }
    @include hi-res{
        width: 50%;
    }
    @include fullhd{
        width: 70%;
    }
    @include quadhd{
        width: 60%;
    }
}
.items-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 100px;
    @include portrait{
        padding-top: 64px;
    }
}
.item{
    margin: 1rem;
    @include portrait{
        margin: 1rem 0;
    }
}


form{
    width: fit-content;
    margin:0;
}
.card{
    display: block;
    width: $card-width;
    box-sizing: border-box;
    border: 1px solid color(tile-border);
    @include portrait{
        width: 100vw;
    }
    @include hi-res{
        width: 330px;
    }
    @include fullhd{
        width: 300px;;
    }
    @include quadhd{
        width: 320px;
    }

    &-image-top{
        width: 100%;
        height: 320px;
        object-fit: cover;
    }
    h4{
        margin: 1rem;
    }
    &-title{
        margin: 0 1rem;
    }
    &-text{
        margin:1rem;
        max-height: 2.3rem;
        width: calc(100% - 2rem);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .price{
        &::before{
            content: 'R$';
            margin-inline-end: 0.1rem;
        }
    }
    .button{
        width: 100%;
        @include portrait{
            font-size: 1.6rem;
            padding: 1rem;
        }
        i{
            color: color(light);
        }
        &-primary{
            outline: 1px solid color(primary-button);
            font-weight: 300;
            
            &:hover{
                outline: 4px solid color(primary-button);
            }
            &:active{
                outline: 2px solid color(primary-button-action);
            }
        }
    }

}
.cart-title{
    padding-top: 100px;
    margin-bottom: -50px;
    margin-left: 1rem;
    @include portrait{
        padding-top: 64px;
    }
}
.cart-product{
    margin-left: 0rem;
}
/*-----------MARGEM E ALINHAMENTO--------*/
.margin-1r{
    margin: 1rem;
}
.left{
    margin-left: 0;
    justify-content: flex-start;
}
.flex-column{
    flex-direction: column;
}
/*----------------------------------------*/
.cart-item{
    border: 2px solid color(primary-text);

    display: flex;
    min-width: 600px;
    box-sizing: border-box;

    @include portrait{
        min-width: 0;
        margin: 0 -1rem;
        border-left: none;
        border-right: none;
    }

    &-img{
        width: 200px;
        height: 220px;
        object-fit: cover;
        @include portrait{
            height: 263px;
        }
    }
    .flex-column{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .price{
        &::before{
            content: 'R$';
            margin-inline-end: 0.1rem;
        }
    }
    &-body{
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: row;
        padding: 1rem 0;
        &-title{
            width: 80%;
            margin-left: 1rem;
        }
        &-quantity{
            display: block;
            width: fit-content;
            align-self: flex-end;
            margin: auto 1rem;
            user-select: none;
            i{
                position: relative;
                left: -.9rem;
                top: .1rem;
                color: color(text-primary)
            }
            &-minus{
                display: block;
                width: 40px;
                border: 1px solid;
                position: relative;
                i{
                    position: relative;
                    left: -.9rem
                }
            }
            &-plus{
                display: block;
                width: 40px;
                border: 1px solid;
                position: relative;
            }
            input[type="text"]{
                appearance: textfield;
                display: block;
                width: 38px;
                text-align: center;
                padding: 0;
                margin: 0.2rem 0;
                border: 1px solid;
                font-size: 1.2rem;
            }
        }
    }
    &-buttons{
        align-self: flex-end;
        margin: 0rem 1rem 1rem 1rem;
        @include portrait{
            .button{
                width: 100%;
                margin: .2rem 0;
            }
        }
    }
}

div#details{
    /*position: absolute;
    top: 220px;
    right: 20%;*/
    padding: 0 1rem;
    border: 1px solid color(primary-text);
    h5{
        margin-top: 0;
    }
    .price{
        &::before{
            content: 'R$';
            margin-inline-end: 0.1rem;
        }
    }
}

.button{
    padding: 0.2rem 1rem;
    box-sizing: border-box;
    border: 2px solid;
    background: none;
    font-weight: 500;
    font-size: 1.4rem;
    user-select: none;
    transition: 0.05s ease-out;
    &-primary{
        color: color(primary-button-txt);
        background-color: color(primary-button);
        border: 2px solid color(primary-button);
        &:hover{
            cursor: pointer;
            color: color(primary-button-txt);
            background-color: color(primary-button);
        }
        &:active{
            background-color: color(primary-button-action);
            border: 2px solid color(primary-button-action);
        }
    }
    &:hover{
        outline: 2px solid;
    }
}
